.wrapper {
  margin: 0 auto;
  padding: 4.2em 0;
  max-width: 1070px;
  @include mobile {
    padding: 1em 0;
    max-width: 340px;
  }
}

.section-content {
  @include flex-col;
  gap: 3.75em;

  @include mobile {
    gap: 1.8em;
  }
}

.ticket {
  @include flex;

  @include mobile {
    flex-wrap: wrap;
  }

  &-preview {
    position: relative;
    width: 100%;

    &_image {
      height: 100%;
      border-top-left-radius: 1em;
      border-bottom-left-radius: 1em;

      @include mobile {
        border-radius: 1em 1em 0px 0px;
      }
    }
    &_data-blue {
      position: absolute;
      top: 2.8em;
      left: 0;
      padding: 0.75em 2.1em;
      background-color: $blue;
      text-transform: uppercase;
    }
    &_data-yellow {
      position: absolute;
      top: 2.8em;
      left: 0;
      padding: 0.75em 2.1em;
      background-color: $yellow;
      text-transform: uppercase;
      &>p {
        color: $medium-black-3;
      }
    }
  }
  &-content {
    display: flex;
    flex-direction: column;
    padding: 1em 2em 0 0;
    @include mobile {
      padding: 1em 0;
    }

    &_title {
      margin-bottom: 0.4em;
      @include mobile {
        font-weight: 600;
      }
    }
    &_time {
      position: relative;
      margin-bottom: 0.8em;
      padding-left: 1.5em;
      color: $light-grey;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      @include mobile {
        order: -1;
      }

      &::before {
        content: "";
        position: absolute;
        width: 16px;
        height: 16px;
        background-image: url("../../img/svg/clock.svg");
        background-repeat: no-repeat;
        background-position: center;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  &-info {
      margin-bottom: 2em;

    &_item {
      position: relative;
      padding-left: 1.5em;
      margin-bottom: 0.6em;
      &::before {
        content: "";
        position: absolute;
        width: 16px;
        height: 16px;
        background-image: url("../../img/svg/check-mark.svg");
        background-repeat: no-repeat;
        background-position: center;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    &-time {
      @include flex-all-sb;
      flex-wrap: wrap;


      &_item {
        position: relative;
        padding-left: 1.5em;
        margin-bottom: 0;
        @include mobile {
          flex: 0 0 100%;
          margin-bottom: 1em;
        }
      &::before {
        content: "";
        position: absolute;
        width: 16px;
        height: 16px;
        background-image: url("../../img/svg/check-mark.svg");
        background-repeat: no-repeat;
        background-position: center;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
      }
      &_data {
        padding: .25em 1em;
        background-color: $light-blue;
        border-radius: 1.4em;
        color: $medium-black-1;
        font-size: 16px;
        line-height: 20px;
        transition: all .3s;
        &:hover {
          background-color: $medium-blue;
          color: $white;
          transition: all .3s;
        }
      }
    }
  }

  &-price {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: .6em;
    &_value-large {
      position: relative;
      padding-bottom: .2em;
      &::after {
        content: "";
        position: absolute;
        width: 19px;
        height: 26px;
        background-image: url("../../img/svg/rub-icon_large.svg");
        background-repeat: no-repeat;
        background-position: center;
        right: 1em;
        top: 37%;
        transform: translateY(-50%);
        @include mobile {
          right: 0;
        }
      }
    }
    &_value-little {
      color: $black;
      font-size: 14px;
      line-height: 20px;
      @include mobile {
        font-size: 10px;
      }
    }


    &_button-more {
      padding: 1em 2.5em;
      background-color: $yellow;
      border-radius: 23px;
      color: $medium-black-2;
      font-size: 18px;
      line-height: 20px;
      transition: all .3s;
      &:hover {
        background-color: #f5c60a;
        transition: all .3s;
      }
    }
  }
}
