<div class="wrapper">
  <section class="section-content">
    <div class="ticket">
      <div class="ticket-preview">
        <img src="../img/img_01.png" class="ticket-preview_image" alt="Boat passes under bridge">
        <div class="ticket-preview_data-blue">
          <p class="p-sb">Новинка</p>
        </div>
      </div>
      <div class="ticket-content">
        <h5 class="ticket-content_title">Обзорная экскурсия по рекам и каналам с остановками Hop on Hop Off 2020</h5>
        <p class="ticket-content_time">2 часа</p>
        <div class="ticket-info">
          <div>
            <p class="ticket-info_item">Билет на целый день</p>
            <p class="ticket-info_item">Неограниченное число катаний</p>
            <p class="ticket-info_item">6 остановок у главных достопримечательностей</p>
          </div>
          <div class="ticket-info-time">
            <p class="ticket-info-time_item">Ближайший рейс сегодня</p>
            <a href="#" class="ticket-info-time_data">12:00</a>
            <a href="#" class="ticket-info-time_data">12:00</a>
            <a href="#" class="ticket-info-time_data">12:00</a>
          </div>
        </div>
        <div class="ticket-price">
          <div>
            <h3 class="ticket-price_value-large">900</h3>
            <p class="ticket-price_value-little">1200₽ на причале</p>
          </div>
          <button type="button" class="btn-reset ticket-price_button-more" value="Подробнее">Подробнее</button>
        </div>

      </div>
    </div>
    <div class="ticket">
      <div class="ticket-preview">
        <img src="../img/img_02.png" class="ticket-preview_image" alt="Saint Petersburg">
        <div class="ticket-preview_data-yellow">
          <p class="p-sb">КРУГЛЫЙ ГОД</p>
        </div>
      </div>
      <div class="ticket-content">
        <h5 class="ticket-content_title">Обзорная экскурсия по рекам и каналам с остановками Hop on Hop Off 2020</h5>
        <p class="ticket-content_time">2 часа</p>
        <div class="ticket-info">
          <div>
            <p class="ticket-info_item">Билет на целый день</p>
            <p class="ticket-info_item">Неограниченное число катаний</p>
            <p class="ticket-info_item">6 остановок у главных достопримечательностей</p>
          </div>
          <div class="ticket-info-time">
            <p class="ticket-info-time_item">Ближайший рейс сегодня</p>
            <a href="#" class="ticket-info-time_data">12:00</a>
            <a href="#" class="ticket-info-time_data">12:00</a>
            <a href="#" class="ticket-info-time_data">12:00</a>
          </div>
        </div>
        <div class="ticket-price">
          <div>
            <h3 class="ticket-price_value-large">900</h3>
            <p class="ticket-price_value-little">1200₽ на причале</p>
          </div>
          <button type="button" class="btn-reset ticket-price_button-more" value="Подробнее">Подробнее</button>
        </div>

      </div>
    </div>
    <div class="ticket">
      <div class="ticket-preview">
        <img src="../img/img_03.png" class="ticket-preview_image" alt="Man plays the piano">
        <div class="ticket-preview_data">
          <p class="p-sb">Новинка</p>
        </div>
      </div>
      <div class="ticket-content">
        <h5 class="ticket-content_title">Обзорная экскурсия по рекам и каналам с остановками Hop on Hop Off 2020</h5>
        <p class="ticket-content_time">2 часа</p>
        <div class="ticket-info">
          <div>
            <p class="ticket-info_item">Билет на целый день</p>
            <p class="ticket-info_item">Неограниченное число катаний</p>
            <p class="ticket-info_item">6 остановок у главных достопримечательностей</p>
          </div>
          <div class="ticket-info-time">
            <p class="ticket-info-time_item">Ближайший рейс сегодня</p>
            <a href="#" class="ticket-info-time_data">12:00</a>
            <a href="#" class="ticket-info-time_data">12:00</a>
            <a href="#" class="ticket-info-time_data">12:00</a>
            <button id="showMore" class="ticket-info-time_data btn-reset">еще...</button>
            <div id="moreItems">
              <a href="#" class="ticket-info-time_data">13:00</a>
              <a href="#" class="ticket-info-time_data">14:00</a>
            </div>
          </div>
        </div>
        <div class="ticket-price">
          <div>
            <h3 class="ticket-price_value-large">900</h3>
            <p class="ticket-price_value-little">1200₽ на причале</p>
          </div>
          <button type="button" class="btn-reset ticket-price_button-more" value="Подробнее">Подробнее</button>
        </div>
      </div>
    </div>
  </section>
</div>


