//colors
$white: #FFFFFF;
$blue: #099CE8;
$light-blue: #C5DCFF;
$medium-blue: #6BA6FF;
$yellow: #FFD83B;
$black: #000000;
$medium-black-1: #343434;
$medium-black-2: #292929;
$medium-black-3: #323232;
$light-grey: #9E9E9E;

//shadow
$default-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
